body {
    font-family: "Arial";
    background-color: gray;
    padding: 20px;
}

main {
    max-width: 600px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
    text-align: center;
    color: black;


}

nav ul li {
    display: inline-block;
    margin: 10px;


}

a {
    text-decoration: none;
    color: rebeccapurple;

}

p {
    color: black;
    font-size: 15px;
}

h1{
  font-size: 26px;
  margin-bottom: 12px;
}

h2{
  font-size: 19px;
  margin-bottom: 12px;
}






